@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    font-family: "Poppins", "sans-serif";
    background-color: #f7f7f7;
    color: #111;
  }
}
@layer components {
  .navItems {
    @apply mb-2 rounded-lg py-2 px-3 flex items-center gap-3 text-sm transition-all duration-75 hover:bg-secondary hover:shadow hover:text-white;
  }
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.text-gradient {
  background: linear-gradient(to right, #2f0a55, #8227e2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2f0a55;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8227e2;
}
